@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.main-cont {
  display: flex;
  width: 1140px;
  max-width: 1140px;
  background-color: rgba(255, 255, 255, 0.95);
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px; }

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
  background-size: 500% 500%;
  animation: gradientAnim 15s ease infinite; }
  .main .body-cont {
    max-height: 620px;
    overflow-y: auto; }
  .main .top-cont {
    background-color: #e9ebee;
    border-bottom: 1px solid #dfdfdf; }
    .main .top-cont > div {
      display: flex;
      padding: 15px;
      justify-content: space-between;
      align-items: flex-end; }
    .main .top-cont .left h2 {
      color: #505050; }
    .main .top-cont .right span {
      color: #777777; }
  .main .bottom-cont {
    display: flex;
    background-color: #e9ebee;
    border-top: 1px solid #dfdfdf;
    min-height: 70px; }
    .main .bottom-cont form {
      padding: 15px;
      display: flex;
      justify-content: center;
      width: 100%; }

.complate {
  background-color: rgba(0, 0, 0, 0.05); }
  .complate .task {
    transition: .250ms;
    text-decoration: line-through;
    opacity: 0.25; }

.todos-item {
  position: relative;
  padding: 0 15px;
  height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  border-left: 5px solid transparent;
  overflow: hidden;
  animation-name: someNameAnim;
  animation-duration: 0.2s;
  transition: 200ms border-left; }
  .todos-item {
    border-bottom: 1px solid #e9e9e9; }
  .todos-item:hover .btn-group {
    opacity: 1; }
  .todos-item .btn-group button:not(:last-child) {
    margin-right: 5px; }
  .todos-item .text-edit {
    display: none;
    border: 1px solid #dfdfdf;
    width: 60%;
    flex-grow: 0; }
  .todos-item .btn-group {
    transform: translateX(155px);
    border-radius: 3px;
    display: flex;
    position: absolute;
    right: 0;
    padding: 5px;
    opacity: 0;
    animation: menuout 250ms ease-in-out;
    transition: 200ms; }
    .todos-item .btn-group .menu {
      margin-right: 15px;
      transform: rotateZ(0);
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      color: #646464;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 0;
      background-color: transparent;
      animation: arrowAnimOut 250ms ease-in; }
    .todos-item .btn-group .menu-opened {
      animation: arrowAnim 250ms ease-in;
      transform: rotateZ(180deg); }
    .todos-item .btn-group .menu:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .todos-item .btn-group .menu:active {
      background-color: rgba(0, 0, 0, 0.1); }
    .todos-item .btn-group .menu:focus {
      box-shadow: none; }
  .todos-item .opened {
    animation: menu 250ms ease-in;
    transform: translateX(0); }
  .todos-item .closed {
    animation: menuout 250ms ease-in;
    transform: translateX(145px); }
  .todos-item:hover {
    border-left: 5px solid #8BC34A; }
  .todos-item:hover .btn-group {
    display: flex; }
  .todos-item span {
    width: 100%; }

.editing .task {
  display: none; }
.editing .text-edit {
  display: block; }

input {
  display: flex;
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-right: 15px;
  transition: 0.2s box-shadow;
  border-radius: 3px;
  border: 1px solid #dfdfdf; }
  input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(150, 233, 102, 0.6);
    border: 1px solid rgba(150, 233, 102, 0.6); }
  input::placeholder {
    font-style: italic;
    color: #b1b1b1; }

button {
  user-select: none;
  display: flex;
  border: none;
  padding: 10px 15px;
  color: white;
  outline: none;
  background-color: #7cb342;
  transition: 0.2s background-color, box-shadow;
  border-radius: 3px; }
  button:hover {
    background-color: #689f38; }
  button:active {
    background-color: #558b2f; }
  button:focus {
    box-shadow: 0px 0px 0.15px 3px rgba(12, 182, 26, 0.4); }

.red-button {
  background-color: #e53935; }
  .red-button:hover {
    background-color: #d32f2f; }
  .red-button:active {
    background-color: #c62828; }
  .red-button:focus {
    box-shadow: 0px 0px 0.15px 3px rgba(182, 12, 12, 0.4); }

.blue-button {
  background-color: #1e88e5; }
  .blue-button:hover {
    background-color: #1976d2; }
  .blue-button:active {
    background-color: #1565c0; }
  .blue-button:focus {
    box-shadow: 0px 0px 0.15px 3px rgba(12, 142, 182, 0.4); }

@keyframes anim {
  from {
    right: -25px;
    opacity: 0; }
  to {
    right: 0px;
    opacity: 1; } }
@keyframes someNameAnim {
  from {
    transform: translateX(-50px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }
.my-checkbox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px; }
  .my-checkbox input[type="checkbox"] {
    display: none; }
  .my-checkbox span {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: check-anim 200ms;
    transition: .2s; }
  .my-checkbox input[type="checkbox"]:checked + span {
    background-color: #8BC34A;
    border: none; }
  .my-checkbox input[type="checkbox"] + span:before {
    font-family: "FontAwesome";
    font-size: 18px;
    color: white;
    content: ""; }
  .my-checkbox input[type="checkbox"]:checked + span:before {
    animation: checkanim 200ms ease-out;
    content: "\f00c"; }

@keyframes checkanim {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes menu {
  from {
    transform: translateX(145px); }
  to {
    transform: translateX(0); } }
@keyframes arrowAnim {
  from {
    transform: rotateZ(0); }
  to {
    transform: rotateZ(180deg); } }
@keyframes arrowAnimOut {
  from {
    transform: rotateZ(180deg); }
  to {
    transform: rotateZ(0); } }
@keyframes menuout {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(145px); } }
@keyframes gradientAnim {
  0% {
    background-position: 0% 19%; }
  50% {
    background-position: 100% 82%; }
  100% {
    background-position: 0% 19%; } }
@media (max-width: 768px) {
  .main-cont {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0px; }

  .main .body-cont {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: none; } }

/*# sourceMappingURL=style.css.map */
